body{
    font-family: 'Poppins', sans-serif;

}
.logo{
    width: 250px;
    margin-top:10px;
}
.header{
    text-align: center;
}
.header nav a{
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
    color:white;
    padding:5px;

}
.header nav{
    background-color: black;
    line-height:40px;
}
.header nav a:hover{
    background-color:rgba(250, 239, 239, 0.699);
}